torchvision
numpy
scipy
opencv-python
Pillow
tqdm
tensorflow
tensorflow-gpu
PyYAML
scikit-image
tb-nightly
yapf
lmdb
addict
future
requests
gfpgan
realesrgan
pydub
soundfile
scikit-image
lpips